
.parentdiv{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
}
.parent{
    width: 600px;
    height: 200px;
    background: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 80px;
    font-weight: bold;
    margin: 10px;
    border: 5px solid;
    padding: 10px;
    cursor: pointer;
    clear: inherit;
}

.head{
    font-size: 80px;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}