.date-box {
    width: 50px;
    height: 50px;
    background-color: #222;
    color: #fff;
    border-radius: 8px;
    padding: 8px 5px;
    text-align: center;
    letter-spacing: 2px;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
}

.day {
    font-size: 18px;
    font-weight: bold;

}

.month {
    font-size: 12px;
    text-transform: uppercase;
    margin: 0 2px;
}

.year {
    font-size: 12px;
}