*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Parent {
  width: 100%;
  height: 100vh;
  background-color: #111;
  padding: 30px;
  display: flex;
  justify-content: center;
  gap: 30px;
}