

.Card{
    width: 300px;
    height: 350px;
    background-color: #ffffff;
    border-radius: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Card .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
   margin-bottom: 20px;
}

.top img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #dadada;
    padding: 2px;
}

.top button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #dadada;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 16px;
    gap: 3px;
    background:transparent;
    cursor: pointer;
    color: #b1b1b1;
} 


.center h3{
    font-size: 19px;
    font-weight: 500;  
    padding: 10px 0 ;
}
.center h3 span{
    font-size: 12px;
    color: #8b8b8b;
    font-weight: 400;
}
.center h2{
    font-size: 20px;
}

.center .tag{
    display: flex;
    gap: 12px;
    margin-top: 10px;
}
.center .tag h4{
    font-size: 15px;
    background-color: #f0f0f0;
    padding: 4px 8px;
    font-weight: 500;
    border-radius: 5px;
}

.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #dadada;
    padding-top: 15px;
}
.bottom button{
    background: #000;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
}

.bottom h3{
    font-size: 18px;
}

.bottom p{
    font-size: 10px;
    color: #8b8b8b;
}